.footer-container { 
    background: #B7D3F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 12vh;
}

.socials 
.copyright { 
    margin: 5px;
}

.socials li { 
    display: inline;
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
    background-color: #B7D3F2;
}

.socials button { 
    background-color: #B7D3F2;
    border: none;
    cursor:pointer;
    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 5px;
}

