

.hero { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    margin: 25px;
}

.hero-name { 
    font-size: 75px;
    margin-top: 1em; 
    margin-bottom: .5em; 
    /* margin: 1em auto; */
}

.hero-about-me { 
    font-size: 25px;
    margin: 0em 5em 2em 5em;
}

@media screen and (max-width: 310px) { 
    .hero-name { 
        font-size: 25px;
    }

    .hero-about-me { 
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) { 
    .hero-name { 
        font-size: 25px;
    }
    .hero-about-me { 
        font-size: 20px;
        margin: 0em 0em 2em 0em;
    }
} 


@media screen and (max-width: 579px) { 
    .hero-name { 
        font-size: 25px;
    }

    .hero-about-me { 
        font-size: 20px;
        margin: 0em 0em 2em 0em;
    }
}

@media screen and (max-width: 710px) { 
    .hero-name { 
        font-size: 25px;
    }

    .hero-about-me { 
        font-size: 20px;
        margin: 0em 0em 2em 0em;
    }
}