

.hero { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-name { 
    font-size: 75px;
    margin: 2em 0em .5em 0em;
}

.hero-about-me { 
    margin: 20px;
}